tmp/*
config/database.php
app/tmp/*
app/Config/database.php
!empty
nbproject/
*.DS_Store
build.*
### /home/je5g09/.gitignore-boilerplates/Global/vim.gitignore

.*.sw[a-z]
*.un~
Session.vim


### /home/je5g09/.gitignore-boilerplates/Global/Emacs.gitignore

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

### /home/je5g09/.gitignore-boilerplates/Global/OSX.gitignore

.DS_Store

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### /home/je5g09/.gitignore-boilerplates/Global/Linux.gitignore

.*
!.gitignore
*~

# KDE
.directory


### /home/je5g09/.gitignore-boilerplates/Global/Windows.gitignore

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/


