[submodule "app/Plugin/GoogleChart"]
	path = app/Plugin/GoogleChart
	url = git://github.com/segy/GoogleChart.git
[submodule "app/Plugin/TwitterBootstrap"]
	path = app/Plugin/TwitterBootstrap
	url = git://github.com/loadsys/twitter-bootstrap-helper.git
[submodule "app/Plugin/GitCake"]
	path = app/Plugin/GitCake
	url = git://github.com/pwhittlesea/GitCake.git
[submodule "app/Plugin/TwitterBootswatch"]
	path = app/Plugin/TwitterBootswatch
	url = git://github.com/pwhittlesea/TwitterBootswatchHelper.git
[submodule "app/Plugin/LDAPAuthCake"]
	path = app/Plugin/LDAPAuthCake
	url = git://github.com/amn-ecs/LDAPAuthCake.git
