tmp/*
app/tmp/*

### Config files need to be ignored
app/Config/sourcekettle.php
app/Config/global.php
app/Config/devtrack.php
app/Config/database.php
app/Config/homepage.php

!empty
nbproject/
*.DS_Store
build.*
### .gitignore-boilerplates/Global/vim.gitignore

.*.sw[a-z]
*.un~
Session.vim

### .gitignore-boilerplates/Global/Emacs.gitignore

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

### .gitignore-boilerplates/Global/OSX.gitignore

.DS_Store

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### .gitignore-boilerplates/Global/Linux.gitignore

.*
!.gitignore
*~

# KDE
.directory

### .gitignore-boilerplates/Global/Windows.gitignore

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
