[submodule "app/Plugin/GoogleChart"]
	path = app/Plugin/GoogleChart
	url = git://github.com/segy/GoogleChart.git
[submodule "app/Plugin/TwitterBootstrap"]
	path = app/Plugin/TwitterBootstrap
	url = git://github.com/loadsys/twitter-bootstrap-helper.git
[submodule "app/Vendor/Git"]
	path = app/Vendor/Git
	url = git://github.com/kbjr/Git.php.git
[submodule "app/Vendor/GeSHi"]
	path = app/Vendor/GeSHi
	url = git://github.com/mattprice/GeSHi.git
[submodule "app/Plugin/Geshi"]
	path = app/Plugin/Geshi
	url = git://github.com/pwhittlesea/cakephp_geshi.git
