language: php
php:
  - 5.3


before_script:
  - ls
  - git submodule init
  - git submodule update --recursive
  - sh -c "mysql -e 'CREATE DATABASE sourcekettle_citest;'"
  - cd app/
  - chmod -R 777 ./tmp
  - echo "<?php
    class DATABASE_CONFIG {
    public \$test = array(
      'datasource' => 'Database/Mysql',
      'database' => 'sourcekettle_citest',
      'host' => '0.0.0.0',
      'login' => 'travis',
      'persistent' => false,
    );
    }" > ./Config/database.php
  - /bin/echo -ne 'y\ny\n' | ./Console/cake schema create -q
  - /bin/echo -ne 'y\ny\n' | ./Console/cake schema update -q
script:
  - ./app/Console/cake -app app test app AllTests
 
notifications:
  email: false
