language: php
php:
  - 5.3


before_script:
  - ls
  - git submodule init
  - git submodule update --recursive
  - sh -c "mysql -e 'CREATE DATABASE sourcekettle_citest;'"
  - cd app/
  - chmod -R 777 ./tmp
  - echo "<?php
    class DATABASE_CONFIG {
    public \$test = array(
      'datasource' => 'Database/Mysql',
      'database' => 'sourcekettle_citest',
      'host' => '0.0.0.0',
      'login' => 'travis',
      'persistent' => false,
    );
    }" > ./Config/database.php
  - cp Config/global.php.template Config/global.php
  - sed -i 's/__SALT__/SALTYSALTYSALTSALT/' Config/global.php
  - sed -i 's/__SEED__/53325332533253321234123412341234/' Config/global.php
  - sed -i 's/DEBUG_LEVEL = 1/DEBUG_LEVEL = 2/' Config/global.php
  - /bin/echo -ne 'y\ny\n' | ./Console/cake schema create -q
  - /bin/echo -ne 'y\ny\n' | ./Console/cake schema update -q
script:
  #- ls -l
  #- ls -l ../cakephp
  #- ls -l Config
  #- cat Config/*
  #- ./Console/cake --help
  #- ./Console/cake test --help
#  - ./Console/cake test app AllModelTests --stderr
#  - ./Console/cake test app AllControllerTests --stderr
  - ./Console/cake test app Model/SshKey
  - strace -ff -o /tmp/skwat.ffs -- ./Console/cake test app Model/SshKey
  - which bash
  - env
  - cat /tmp/skwat.ffs*
notifications:
  email: false
