language: php
php:
  - 5.3


before_script:
  - ls
  - git submodule init
  - git submodule update --recursive
  - sh -c "mysql -e 'CREATE DATABASE sourcekettle_citest;'"
  - chmod -R 777 ./app/tmp
  - echo "<?php
    class DATABASE_CONFIG {
    public \$test = array(
      'datasource' => 'Database/Mysql',
      'database' => 'sourcekettle_citest',
      'host' => '0.0.0.0',
      'login' => 'travis',
      'persistent' => false,
    );
    }" > ./app/Config/database.php
   - ./app/Console/cake schema create
   - ./app/Console/cake schema update
script:
  - ./app/Console/cake -app app test app AllTests
 
notifications:
  email: false
