/* Autocomplete demo dropdown styles */
.autocomplete-w1 {
    position:absolute;
    top:0;
    left:0;
    margin:6px 0 0 6px;
    /* IE6 fix: */
    _background:none;
    _margin:1px 0 0 0;
}

.autocomplete {
    overflow:auto;
    margin:-6px 6px 6px -6px;
    /* IE6 specific: */
    max-height:350px;
    border:1px solid #999;
    background:#FFF;
    text-align:left;
    cursor:default;
    _height:350px;
    _margin:0;
    _overflow-x:hidden;
}

.autocomplete .selected {
    background:#c9e6ed;
}

.autocomplete div {
    overflow:hidden;
    padding:5px 10px;
    white-space:nowrap;
}

.autocomplete strong {
    color:#39F;
    font-weight:400;
}