.diff_table {
    width: 100%;
    border: 1px solid #a1a0a0;
}
.diff_row {
    line-height: 16px;
    height: 16px;
    background-color: #ECECEC;
}
.diff_col {
    width: 5%;
    text-align: center;
}
.old_col {
    border-right: 1px solid #a1a0a0;
}
.new_col {
    border-right: 1px solid #a1a0a0;
}
.pre_col {
    padding: 0;
}
.diff_pre {
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 0px;
    -moz-border-radius: 0px;
}
.hunk_header {
    color: #999;
    background-color: #EAF2F5;
}

.pre_green {
    border: 1px solid #DFD;
}
.green_back {
    background-color: #DFD;
}
.green_front {
    color: #468847;
}

.pre_red {
    border: 1px solid #FDD;
}
.red_back {
    background-color: #FDD;
}
.red_front {
    color: #B94A48;
}

.pre_normal {
    
}